---
apiVersion: v1
kind: Namespace
metadata:
  name: tnf-collector
  labels:
    name: tnf-collector

---
apiVersion: v1
kind: Secret
metadata:
  name: collector-db-creds
  namespace: tnf-collector
type: Opaque
data:
  mysql-username: MysqlUsername
  mysql-password: MysqlPassword
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: collector-deployment
  namespace: tnf-collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: collector
  template:
    metadata:
      labels:
        app: collector
    spec:
      containers:
        - name: collector-container
          image: quay.io/testnetworkfunction/collector:latest
          env:
            - name: DB_URL
              value: "collector-db.cn9luyhgvfkp.us-east-1.rds.amazonaws.com"
            - name: DB_PORT
              value: "3306"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: collector-db-creds
                  key: mysql-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: collector-db-creds
                  key: mysql-password
          ports:
            - containerPort: 8080
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            seccompProfile:
              type: RuntimeDefault
          imagePullPolicy: Always
