---
name: 'Perform a GET request to collector'
'on':
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:
env:
  ENDPOINT: "44.195.143.94"
defaults:
  run:
    shell: bash
jobs:
  get-from-collector:
    name: 'Perform a GET request to collector'
    runs-on: ubuntu-24.04
    steps:
      - name: 'Perform a GET request to collector'
        id: collector_sanity_check
        run: |
          curl $ENDPOINT || exit $?

      - name: Check out `certsuite`
        if: ${{ failure() }}
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493  # v4.1.7
        with:
          repository: redhat-best-practices-for-k8s/certsuite
          path: certsuite

# - name: Send chat msg to dev team if collector's GET request failed.
#   if: ${{ failure() }}
#   uses: ./certsuite/.github/actions/slack-webhook-sender
#   with:
#     message: 'Collector GET request has failed'
#     slack_webhook: '${{ secrets.SLACK_ALERT_WEBHOOK_URL }}'
