name: Test Incoming Changes

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  lint:
    name: Run Linter and Vet
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
          os: [ubuntu-22.04, macos-latest]
    env:
      SHELL: /bin/bash

    steps:
    - name: Set up Go 1.20
      uses: actions/setup-go@v4
      with:
        go-version: 1.20.4

    - name: Disable default go problem matcher
      run: echo "::remove-matcher owner=go::"

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
      with:
        ref: ${{ github.sha }}

    # TODO: golangci-lint team recommends using a GitHub Action to perform golangci-lint responsibilities.  However
    # there does not appear to be a way to honor our existing .golangci.yml.  For now, mimic developer behavior.
    - name: Install golangci-lint
      run: make install-lint

    - name: Install checkmake (Linux)
      run: curl --location --output $CM_BIN --silent $CM_URL_LINUX
      if: runner.os == 'Linux'

    - name: Install checkmake (MacOS)
      run: brew install checkmake
      if: runner.os == 'macOS'

    - run: chmod +x $CM_BIN

    - name: Install hadolint (Linux)
      run: |
        curl \
            --location \
            --output /usr/local/bin/hadolint \
            https://github.com/hadolint/hadolint/releases/download/v2.12.0/hadolint-Linux-x86_64
        chmod +x /usr/local/bin/hadolint
      if: runner.os == 'Linux'

    - name: Install hadolint (MacOS)
      run: |
        brew install hadolint
      if: runner.os == 'macOS'

    - name: Install shfmt (Linux)
      run: make install-shfmt
      if: runner.os == 'Linux'

    - name: Install shfmt (MacOS)
      run: brew install shfmt
      if: runner.os == 'macOS'

    - name: make lint
      run: make lint

    - name: make vet
      run: make vet
